[Desktop Entry]
Type=Application
Name=MultiBootUSB
Comment=Birkaç Linux İşletim Sistemini USB Belleğe kurar
Icon=multibootusb
Exec=multibootusb-pkexec
Categories=System;
StartupNotify=true
